*{
  margin: 0;
  padding: 0;
}

section {
  padding: 20px;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-align-items: center;
  display: -moz-flex;
  -moz-flex-flow: row wrap;
  -moz-align-items: center;
  display: -ms-flex;
  -ms-flex-flow: row wrap;
  -ms-align-items: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content:space-between;
}
div{
  margin-top: 20px;
}
#d1{             /* 不能用纯数字id*/
  height: 120px;
  width: 150px;
  border:1px #f00 solid;
}

#d2 {
  height: 100px;
  width: 150px;
  border:1px #f00 solid;
}

#d3 {
  height: 40px;
  width: 150px;
  border:1px  #f00 solid;
}

#d4 {
  height: 200px;
  width: 150px;
  border:1px #0f0 solid;
}

@media screen and (max-width: 640px) {
section {
  -webkit-align-items: flex-start;
  display: -moz-flex;
  -moz-flex-flow: row wrap;
  -moz-align-items: flex-start;
  display: -ms-flex;
  -ms-flex-flow: row wrap;
  -ms-align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content:space-between;
  align-content:space-around;
}
  
#d4 {
  order: -1;/* order越小越排在后面*/
}
}
	
