.parent{
	background-color: #ccc;
	width: 400px;
	/*height: 200px;*/
	min-height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

}
.parent p{
	text-indent: 2em;
	line-height: 1.7em;
	padding: 20px 50px;
}
.round{
	background-color: #fc0;
	width: 50px;
	height: 50px;
	position: absolute;
}
.round1{
top: 0;
left: 0;
border-radius: 0 0 50px 0;
}
.round2{
	bottom: 0;
	right: 0;
	border-radius: 50px 0 0 0;
}